/* styles.css */

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.list-cell:focused {
    -fx-background-color: transparent;
}

