.list-view {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Consolas", monospace; /* Set monospaced font */
    -fx-font-size: 12.5px; /* You can adjust the font size as needed */
    -fx-padding: 1px 0px;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 8px; /* Set preferred width of the vertical scroll bar */
}